<% layout('layout') -%>

<div class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-lg-2">
		</div>
		<div class="col-lg-8">
			<div ng-view></div>
		</div>
		<div class="col-lg-2">
		</div>
	</div>
</div> <!-- /container -->