<html>
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

		<link href='http://fonts.googleapis.com/css?family=Flamenco' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Stint+Ultra+Expanded' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="css/app.css" />
	</head>
	<body>

		<%- body %>

		<div class="container">
			<div class="row">
				<div class="col-lg-2">
			
				</div>
				<div class="col-lg-8">
					<hr>

					<footer>
						<p>&copy; Company 2013</p>
					</footer>
				</div>
				<div class="col-lg-2">
					
				</div>
			</div>
		</div>

		<script src="js/underscore-min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	</body>
</html>