body{
	/*background:url('../images/ricepaper_v3.png');*/
}

h1, h2{
	font-family: 'Vollkorn', serif;
}

p{
	font-family: 'PT Serif', serif;
	font-size:16px;	
	line-height: 1.8em;
}

.fa{
	font-size:28px;
}